@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header__container {
  min-width: 1280px;
  display: flex;
  justify-content: space-between;
  background-color: #615F5F;
  padding: 20px 30px;
}

.header__logo {
  width: 180px;
  height: 40px;
  background-color: #DD7ADF;
}

.header__info {
  display: flex;
}

.header__item {
  min-width: 400px;
  height: 40px;
  background-color: #887ADF;
}

.header__item:not(:last-child) {
  margin: 0 20px 0 0;
}

.header__button {
  width: 100px;
  height: 40px;
  background-color: #DD7ADF;
}

.top__container {
  min-width: 1280px;
  padding: 30px 30px 100px;
  background-color: #615F5F;
}

.top__row {
  display: flex;
}

.top__logo {
  width: 180px;
  height: 40px;
  background-color: #DD7ADF;
  margin: 0 90px 0 0;
}

.top__menu {
  display: flex;
  width: 100%;
}

.top__social {
  margin: 0 0 0 150px;
}

.menu-top__items {
  list-style-type: none;
}

.menu-top__items:not(:last-child) {
  margin: 0 30px 0 0;
}

.menu-top__item {
  min-width: 220px;
  height: 20px;
  background-color: #887ADF;
}

.menu-top__item:not(:last-child) {
  margin: 0 0 20px 0;
}

.menu-top__items-two {
  list-style-type: none;
}

.menu-top__item-two {
  min-width: 220px;
  min-height: 20px;
  background-color: #7ADFBB;
}

.menu-top__item-two:not(:last-child) {
  margin: 0 0 20px 0;
}

.social-top__items {
  list-style-type: none;
}

.social-top__item {
  min-width: 330px;
  min-height: 20px;
  background-color: #7ADFBB;
}

.social-top__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.bottom__container {
  display: flex;
  justify-content: center;
  min-width: 1280px;
  border-top: 1px solid #fff;
  background-color: #615F5F;
}

.bottom__logo {
  min-width: 450px;
  height: 40px;
  background-color: #887ADF;
  margin: 20px 0 20px 0;
}

body {
  height: 100%;
}

.wrapper {
  min-width: 1280px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.section {
  display: flex;
  justify-content: center;
  margin: 70px 30px 90px;
}

.section__aside {
  min-width: 250px;
  max-height: 700px;
  background-color: #887ADF;
  margin: 0 20px 0 0;
}

.section__serch {
  margin-bottom: 60px;
}

.section__cards {
  margin-bottom: 60px;
}

.section__info {
  margin-bottom: 70px;
}

.section__forma {
  margin-bottom: 60px;
}

.serch__container {
  display: flex;
  min-width: 950px;
}

.serch__field {
  min-width: 670px;
  min-height: 60px;
  background-color: #7ADFBB;
}

.serch__field:not(:last-child) {
  margin: 0 20px 0 0;
}

.serch__button {
  width: 260px;
  height: 60px;
  background-color: #887ADF;
}

.cards__container {
  min-width: 950px;
}

.cards__colums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.colums__text {
  width: 310px;
  height: 160px;
  background-color: #FB9F4B;
}

.colums__button {
  width: 310px;
  height: 70px;
  background-color: #7ADFBB;
}

.info__conatiner {
  min-width: 950px;
}

.info__table {
  width: 950px;
  border-collapse: collapse;
}

.table__caption {
  height: 60px;
  background-color: #7ADFBB;
  border: 1px solid #000;
}

.table__thead {
  background-color: #7ADFBB;
}

.table__thead th {
  border: 1px solid #000;
}

.table__striphed {
  width: 200px;
  height: 60px;
}

.table__tbody {
  background-color: #7ADFBB;
}

.table__tbody th {
  border: 1px solid #000;
}

.table__tfoot tr {
  background-color: #7ADFBB;
}

.table__tfoot th {
  border: 1px solid #000;
}

.table__strip {
  width: 200px;
  height: 40px;
}

.forma__container {
  min-width: 950px;
}

.forma__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forma__gaid {
  width: 300px;
  min-height: 600px;
  background-color: #7ADFBB;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.gaid__title {
  width: 280px;
  height: 50px;
  background-color: #86D2FC;
  margin: 0 0 40px 0;
}

.gaid__text {
  flex: 1 1 auto;
}

.gaid__text p {
  width: 280px;
  height: 20px;
  background-color: #86D2FC;
  border: 1px solid #615F5F;
}

.gaid__text p:not(:last-child) {
  margin: 0 0 20px 0;
}

.gaid__button {
  width: 280px;
  height: 80px;
  background-color: #86D2FC;
  border: 1px solid #615F5F;
  margin: 20px 0 0 0;
}

.photo__container {
  min-width: 950px;
}

.photo__fotiks {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 50px;
}

.photo__fotik {
  width: 200px;
  height: 80px;
  background-color: #887ADF;
}